  <nav>
    <ul>
      <li><a href="/">Home</a></li> 
      <li><a href="/recipes">Recipes</a></li> 
      <li><a href="/ingredients">Ingredients</a></li> 
    </ul>
  </nav>

<h1>
  List of all chefs
</h1>

<form action="/insert_chef_record">
  <label for="browser_chef_name">New Chef</label>
  <input id="browser_chef_name" type="text" name="chef_name" placeholder="Enter a chef's name...">

  <button>Add Chef</button>
</form>


<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Bio
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_chefs.each do |a_chef| %>
  <tr>
    <td>
      <%= a_chef.id %>
    </td>

    <td>
      <img src="<%= a_chef.image%>">
    </td>

    <td>
      <%= a_chef.chef_name %>
    </td>

    <td>
      <a href="/chefs/<%= a_chef.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
