<h1>The Food Chronicles</h1>

  <div class="article-image">
    <div class="mask"></div>
    <img src="https://cdn.pixabay.com/photo/2022/04/30/19/12/cooking-banner-7166200_1280.jpg"/>
  </div>


<ul>
  <li>
    <a href="/recipes">
      All recipes
    </a>
    <ul>
      <li>
        <a href="/recipes/latest">
          Latest recipes
        </a>
      </li>
      <li>
        <a href="/recipes/toprated">
          Top rated recipes
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/chefs">
      All chefs
    </a>
  </li>
  <li>
    <a href="/ingredients">
      All ingredients
    </a>
  </li>
</ul>
